<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <a class="navbar-brand" href="/TrangChu"><span class="glyphicon glyphicon-book"></span> Cửa Hàng Sách</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/TrangChu"><span class="glyphicon glyphicon-home"></span> Trang Chủ</a>
                    </li>
                    @{
                        if (Session["KhachHang"] != null)
                        {
                            <li>
                                <a href="/DonHangCuaBan"><span class="glyphicon glyphicon-usd"></span> Đơn Hàng Của Bạn</a>
                            </li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="text-align: center; font-weight:bold;">&copy; @DateTime.Now.Year - Cửa Hàng Sách
            <br />
            Phạm Minh Đức - pmduc97@gmail.com
            <br />
                <a href="http://fb.com/ducpham1997"><img src="~/Image/Icon/facebook.png" style="width:30px;height:30px;border-radius: 5px;" /></a> | 
                <a href="https://pmduc.blogspot.com/"><img src="~/Image/Icon/blogger.png" style="width:30px;height:30px;border-radius: 5px;" /></a>
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script language="javascript" src="~/Scripts/MyScript.js"></script>
</body>
</html>
