@using CuaHangSach.Models;
@{
    ViewBag.Title = "Giỏ Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Giỏ Hàng Của Bạn</h2>

@{
    if(Session["GioHang"] == null)
    {
        Session["GioHang"] = new List<SACH>();
    }
    List<SACH> lstSach = (List<SACH>)Session["GioHang"];
    int i = 1;
    long tongtien = 0;
    }
<div class="row">
    <div class="col-md-12">
        <table class="table" style="">
            <tbody>
                @foreach (SACH s in lstSach)
                {
                    <tr style="border-top: 1px solid black;">
                        <td style="float:left; margin-top:33px; border:0px; font-weight:bold;">@i</td>
                        <td style="float:left;"><img src="~/Image/Book/@s.Anh" style="width: 70px;height:80px;" /></td>
                        <td style="float:left; width:80%;">
                            <label>Tên sách&nbsp;:&nbsp;<b style="text-transform: uppercase; color: #CC0000; font-weight: bold;">@s.TenSach</b></label> 
                            <br />
                            <label>Giá bán&nbsp;&nbsp;&nbsp;:&nbsp;<b style="color:red;">@s.Gia VNĐ</b></label>
                            <br />
                            <div style="display: inline-flex;">
                                <form class="form-inline" method="get" action="GioHang/CapNhat">
                                    <label>Số lượng:</label>
                                    <input name="soluong" id="soluong" style="width:70px; text-align:center;" type="number" value="@s.SoLuong" />
                                    <input name="masach" value="@s.MaSach" type="hidden" />
                                    <input name="capnhat" onclick="return checkSoLuong()" value="Cập nhật" type="submit" class="btn btn-sm btn-info" />
                                </form>
                                <form  action="GioHang/Xoa" method="post">
                                    @Html.AntiForgeryToken()
                                    <input name="masach" value="@s.MaSach" type="hidden" />
                                    <input style="float:left; margin-left: 10px;" name="xoa" value="Trả lại" class="btn btn-sm btn-danger" type="submit" />
                                </form>
                            </div>
                        </td>
                    </tr>
                    tongtien += s.Gia * s.SoLuong;
                    i++;
                }
            </tbody>
        </table>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <h3 style="font-weight:bold;color:red;">Tổng tiền: @tongtien VNĐ</h3>
    </div>
    <div class="col-md-3">
        
    </div>
    <div class="col-md-5">
        @if(Session["KhachHang"] == null)
        {
            <span>Bạn cần đăng nhập để đặt hàng.  </span>
            <a href="/KhachHang/DangNhap?next=GioHang" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-log-in"></span> Đăng nhập</a>
            <a href = "/KhachHang/DangKy" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-pencil"></span> Đăng ký</a>
        }
        else
        {
            <a style="margin-top:15px; float:right;" href="/GioHang/DatHang" class="btn btn-info"><span class="glyphicon glyphicon-shopping-cart"></span> Đặt Hàng</a>
            <a style="margin-top:15px; float:right; margin-right:5px;" href="/TrangChu" class="btn btn-info"><span class="glyphicon glyphicon-usd"></span> Tiếp tục mua hàng</a>
        }
        
    </div>
</div>
